@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  height: 100%;
  width:100%;
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;
}
.navbar {
    width:100%;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    position: fixed;
    top:0;
    z-index:100;
    justify-content: space-between;
    align-items: center;
    background-color:#111;
    color: white;
    
}

.Amshu {
    font-size: 1.5rem;
    margin: .5rem;
    margin-left: 50px;
    color:#f04f2d;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding-right:50px;
}

.navbar-links li {
    list-style: none;
    padding-right: 30px;
    font-size: x-large;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color:#ffbf00 ;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


@media (max-width: 800px) {
    .navbar {
        width:109%;
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        margin-right: 20px;
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* Genre menu*/

.wrapper{
    margin: 100px auto;
    max-width: 1100px;
  }
  .wrapper nav{
    display: flex;
    justify-content: center;
  }
  .wrapper .items{
    display: flex;
    max-width: 950px;
    width: 100%;
    justify-content: space-between;
  }
  .items a{
      text-decoration: none;
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #FFFFF0;
    border-radius: 50px;
    border: 2px solid #FFF5EE;
    transition: all 0.3s ease;
  }
  .current{
    background:#555;  
  }
  .items a:hover{
    background:#555;
  }

  @media (max-width: 700px) {
    .wrapper nav .items{
      max-width: 600px;
    }
    nav .items span{
      padding: 7px 15px;
    }
  }
  @media (max-width: 600px) {
    .wrapper{
      margin: 30px auto;
    }
    .wrapper nav .items{
      flex-wrap: wrap;
      justify-content: center;
    }
    nav .items span{
      margin: 5px;
    }
  } 


.gallery{
  font-family: 'Poppins', sans-serif;
}
.container1{
    width:100%;
  padding: 0 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container2{
    width:100%;
    padding: 0 40px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container3{
    padding: 0 40px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container4{
    padding: 0 40px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;

   
}
.container4 .card{
    height: 420px;
  width: 305px;
  margin-left: 50px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);

}

.card{
  height: 420px;
  width: 400px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.card:hover{
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.card .img{
  height: 320px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 22px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p{
  font-size: 18px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text{
  text-align: justify;
  
}
.card .bottom-text .btn{
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 850px) {
  .container1{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .container2{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .container3{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card{
    max-width: 700px;
    margin: 20px 0;
  }
}


********
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 600px){
    .container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top:50px;
    margin-left: 100px;
}

.container .mycard{
    position: relative;
    max-width:300px;
    height:300px;
    background: white;
    margin: 30px 30px;
    padding: 20px 15px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 50px rgba(0,0,0,0.5);
    transition: 0.4s ease-in-out;
}
.container .mycard:hover{
    height: 300px;
}
.container .mycard .cimg{
    position: relative;
    width: 260px;
    height: 260px;
    
    top:-60px;
    left:20px;
    z-index: 1;
    box-shadow: 0 3px 50px rgba(0,0,0,0.5);
}
.container .mycard .cimg img{
    max-width: 100%;
    height:100%;
    border-radius: 6px;
}
.container .mycard .cdetail{
    position: relative;
    margin-top: -140px;
    padding:10px 15px;
    text-align: center;
    color:black;
    font-family: monospace;
    visibility:hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.container .mycard:hover .cdetail
{
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
}
}
footer{
    width: 100%;
    position:relative;
    bottom: 0px;
    background-color: #111;
    color:#eba83a;
    place-items:left;
  text-align: left;
    
}
.main-content{
    display :flex;
}
.main-content .box{
    flex-basis: 50%;
    padding-left:80px;
    padding-top:10px;
}
.box h3{
    font-weight: 600;
    font-size:1.125 rem;
    text-transform: uppercase;
}
.box .content{
    margin:20px 0 0 0;
}
.left p{
    color:rgb(207, 206, 203);
}
.left .social{
    margin:20px 0 0 0;

}
.left .social a{
    padding: 0 2px;
}
.social a i{
    height: 40px;
    width:40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align:center;
    font-size:18px;
    border-radius: 5px;
    transition:0.3s;
  color:#ffbf00;
}
.social a i:hover{
    background: #555;
}

@media (max-width: 800px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .main-content{
        flex-direction: column;
    }
}    
    
